.Todo .ol{
    list-style: none;
}
.Todo li{
    padding: 8px;
    margin: 5px;
    text-align: left;
}
.Todo li:hover{
    background-color: rgb(27,25,25);
    cursor : pointer;
}
.Todo hr{
    padding: 0;
    margin: 0;
    margin-top: 10px;
}
.Todo{
    width: 95%;
}

.Todo .edit{
    color: red;
    font-size: 15px;
    padding: 0;
    float: right;
    background-color:  rgb(40,40,40);
    margin-right: -20px;
}
.Todo .edit:hover{
    border : 2px solid darkred;
    cursor: pointer;
    background-color: rgb(27,25,25);
}
.Todo .text{
    font-size: 30px;
    color: #fff;
}
.Todo .do{
    height: 20px;
    width: 20px;
    background-color: lightgrey;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 20px;
    display: inline-block;
    color: darkblue;
    font-weight: bolder;
}
.Todo .do:hover{
    background-color: lightskyblue;
}
.Todo .cross{
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    font-size: 18px;
    margin-right: 20px;
    color: black;
}
.Todo .cross:hover{
    background-color:darkred;
}
.Todo .completetask{
    font-size: 20px;
    color: green;
    text-decoration: line-through;
}
.Todo .duetask{
    font-size: 20px;
    color: red;
}